.header {
    display: flex;
    grid-area: h;
    background-color: lightsalmon;
    align-items: center;
  }
  
.header img {
    position: flex;
    width: 50px;
    margin-left: 10px;
    
  }

.loginBlock {
  margin-right: 10px;
  margin-left: auto;
}
.loginBlock a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logoutSpan {
  border: darkgreen 1px solid;
  padding: 3px;
}