.formControl {
    display: flex;
    margin: 5px;
}


.formControl.error input,
.formControl.error textarea {
    border: red 1px solid;
    color: red;
}

.formControl span {
    color: red;
    margin-left: 5px;
}