.bg {
    background-color: lightsteelblue;
}

.dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dialogsItems {

}

.dialog {
    padding: 10px;
}

.messages {

}

.message {
    padding: 10px;
}