.bg {
    background-color: lightsteelblue;
}

.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogsItems {

}

.dialog {
    padding: 5px;
    border: darkorchid 1px solid;
    border-radius: 5px;
    margin: 5px;
}

.dialog a {
    text-decoration: none;
    color: darkorchid;
}

.dialog:hover {
    background-color:darkslateblue;
}

.messages {

}

.message {
    padding: 10px;
}